<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filtro do IBGE</title>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Link for the icon -->
    <link rel="shortcut icon" href="{{ static_url('img/IBJEicon.jpg') }}" type="favicon/ico" />
    
    <!-- Link for main css file -->
    <link href="{{ static_url('css/style.css') }}" rel="stylesheet">

    <!-- Icons on sidebar -->
    <link rel="stylesheet" href="{{ static_url('node_modules/font-awesome/css/font-awesome.min.css') }}">

</head>
<body>
    <div id="app"></div>

    <script src="{{ static_url('build/js/vendor.js') }}"></script>
    <script src="{{ static_url('build/js/bundle.js') }}"></script>
</body>
</html>
